*{
    padding: 0px;
    margin: 0px;
}
body{
text-align: center;
}

article{
    display: inline-block;
    width: 270px;
    vertical-align: top;
    margin: 10px;
}
section{
    border: 1px solid grey;

}
h2{
    margin: 10px;

}
p{
    text-align: left;
    width: 200px;
    margin-top: 10px;
}
img{
    width: 250px;
}
img:hover{
    opacity: 0.4;
}