@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Merriweather', serif;

}

main {
    width: 100%;
    margin: 10px 0;

}

.form-group {
    margin-bottom: 10px;
}

.col-sm-12.title h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    background-color: #000066;
    border-radius: 25px;
    padding: 5px;
    font-weight: bold;
}

.container.main {
    border: 3px solid #000066;
    border-radius: 25px;
    padding: 10px;
    background-color: #ffffff;

}

#date {
    border: 1px solid #CED4DA;
    padding: 5px;
    font-weight: bold;
}

#select-english-level {
    border: 1px solid #CED4DA;
    padding: 7px;
    font-weight: bold;
}

#age {
    border: 1px solid #CED4DA;
    font-weight: bold;
}

label {
    margin-bottom: 0;
}

.col-sm-12.comment label {
    margin-top: 115px;

}

.radio:hover {
    cursor: pointer;
    color: #000066;

}

.reset-btn {
    color: white;
    background-color: #000066;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
}

.reset-btn:hover {
    cursor: pointer;
    background-color: #cc0000;

}

.submit-btn {
    color: white;
    background-color: #000066;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #008000;
}

.label-bold{

    font-weight: bold;

}

.col-sm-12 label {
    font-weight: bold;
}

.col-sm-5 label {
    font-weight: bold;
}

.col-sm-4 label {
    font-weight: bold;
}

::placeholder {
    padding:5px;
}

