*{
    padding: 0px;
    margin: 0px;
}

body{
    margin: auto;
    width: 1200px;
}
main{
    height: 400px;
}

article{
   float: left;
    display: inline-block;
    margin-left: 30px;


}
img{
    width: 300px;
    display: inline-block;
    border: 1px solid gray;
    padding: 20px;
    margin-top: 20px;

}
section{
    display: inline-block;
  vertical-align: top;
   width: 700px;
    margin-top: 20px;
    margin-left: 30px;

}
.article-title{
   color: #72aeb4;
    display: inline-block;
    padding-bottom: 10px;

}
h4{
    padding-bottom: 20px;
}
p{
    padding-bottom: 30px;
}
a{
    color: #72aeb4;
}




